body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;  
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.left, .right {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 128px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #f9faf8;
  }

ul {
    list-style-type: none;
    display: flex;
    padding: 8px;
    gap: 16px;
    font-size: 18px;
    font-weight: normal;
}

/*Image Panel - Middle Section*/
.image-panel{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
}

.image{
    background:none;
    border: #3882f6;
    border-style: solid;
    border-radius: 8px;
    padding: 72px 72px;
}

/* Quote Section */
.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 24px;
    font-weight: lighter;
    padding: 72px;
}