body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bold;
}

.left, .right {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 128px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 8px;
    gap: 16px;
}